@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&family=Kanit:ital,wght@1,100&family=Rajdhani:wght@500&family=Sanchez:ital@1&family=Work+Sans:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Montserrat:wght@100;200;300;400;500&display=swap');
@font-face{
    font-family: "rosewell", sans-serif;
    src: url("assets/Font/Rosewell/RosewellStandardRegular1.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    text-decoration: none;
}
:root{
    --layer-1: -2;
    --layer-2: -1;
    --layer-3: 0;
    --layer-4: 1;
    --layer-5: 2;
    --layer-6: 3;
    scroll-behavior: smooth;
}
/* Animation */
@keyframes animateP1 {
    0%{
        transform: translate(0);
        margin: 25px 20px 15px 2px;
    }
    100%{
        transform: translate(-40px, -50px);
        margin: 25px 0;
        
    }
}
@keyframes animateP2 {
    0%{
        transform: translate(0);
        margin: 25px 0;
    }
    100%{
        transform: translate(40px, 50px);
        margin: 25px 0;
        
    }
}
@keyframes animateOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes opacityTransform{
    0%{ opacity: 0; transform: translateY(20px); }
    100%{ opacity: 1; transform: translateY(0); }
}
@keyframes opacityTransformInput{
    0%{ opacity: 0; top: 20px; }
    100%{ opacity: 1; top: 0px; }
}
img, .logo{
    user-select: none;
    pointer-events: none;
}
body{
    z-index: var(--layer-2);
    scroll-behavior: smooth;
}
.svg-header::before {
    content: "";
    width: 100%;
    height: 60px;
    background: #0099ff;
    /* background-color: #3d4b5c; */
    display: block;
    position: absolute;
    bottom: -51px;
}
.svg-header {
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 15px;
    transform: rotate(180deg);
    z-index: 0;
}
.svg-header svg path{
    fill: #0099ff;
}
header::before {
    content: "";
    position: absolute;
    width: 65vw;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(4,4,4,0.75) 43%, rgba(3,3,3,0.5) 71%, rgba(45,45,45,0) 94%);
    animation: animateOpacity .6s forwards .6s ease;
    opacity: 0;
}
header{
    width: 100%;
    height: auto;
    padding: 50px 50px 25px;
    padding-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #2D3A4B;
}
nav{
    height: 90px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
    padding: 0 70px;
    position: fixed;
    width: 100%;
    transition: all .3s;
    top: 0;
    left: 0;
    font-family: "Sanchez", sans-serif;
    z-index: 3;
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.hamburger-menu{
    display: none;
}
.nav-links a, .logo p{
    color: white;
}
a.nav-link,
a.footer-links {
    position: relative;
}
a.nav-link::after,
a.footer-links::after {
    display: block;
    content: "";
    height: 5px;
    background: rgb(0 118 195);
    position: absolute;
    bottom: -10px;
    left: -7.5px;
    right: -7.5px;
    transition: transform .3s;
    transform-origin: bottom right;
    transform: scaleX(0);
}
a.nav-link::after{
    background-color: rgb(0 118 195);
}
a.footer-links::after{
    background-color: rgb(16 16 40);
}
a.nav-link:hover::after,
a.footer-links:hover:after{
    transform-origin: bottom left;
    transform: scaleX(1);
}
.logo{
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo p {
    font-size: 20px;
}
.header-left {
    z-index: var(--layer-4)
}
.header-left-wrapper h1 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    color: wheat;
    padding: 0px 20px 10px 20px;
    opacity: 0;
    animation: opacityTransform .6s forwards ease;
}
.header-left-wrapper p {
    text-align: justify;
    text-indent: 24px;
    padding: 10px 20px;
    color: white;
    font-family: "rajdhani";
    opacity: 0;
}
.header-left-wrapper p:nth-child(2){
    animation: opacityTransform .6s forwards .3s ease;
}
.header-left-wrapper p + p{
    animation: opacityTransform .6s forwards .6s ease;
}
form#form {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px;
    color: white;
    justify-content: space-between;
}
#form input[type="email"],
#form input[type="submit"]{
    position: relative;
}
#form input[type="email"],
#form input[type="submit"],
::placeholder
{
    color: white;
    opacity: .7;
    font-size: 16px;
    font-style: italic;
    font-family: "Sanchez", serif;
    outline: none;
    border: none;
    transition: all .3s;
    border-radius: 5px;
}
#form input[type="email"]{
    padding: 10px;
    background: #AAAF3F;
    box-shadow: 0 10px 0 0 #757820;
    transform: translateY(0);
    animation: opacityTransformInput .6s forwards 1s ease;
    opacity: 0;
}
#form input[type="email"]:hover{
    opacity: .9;
}
#form input[type="email"]:focus {
    opacity: 1;
    box-shadow: none;
    transform: translateY(10px);
}
#form input[type="submit"]{
    cursor: pointer;
    width: 75%;
    align-self: center;;
    background: #AAAF3F;
    padding: 10px 0;
    box-shadow: 0 10px 0 0 #757820;
    transform: translateY(0);
    animation: opacityTransformInput .6s forwards 1.2s ease;
    opacity: 0;
}
#form input[type="submit"]:hover{
    opacity: 1;
    box-shadow: none;
    transform: translateY(10px);
}
.header-right-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, calc(500px / 7));
}
.product.p-1::before,
.product.p-2::before
{
    content: "";
    top: 0;
    left: 17px;
    bottom: 0;
    right: 0;
    background: #AAAF3F;
    position: absolute;
    z-index: -1;
}
.product.p-1::before{
    animation: animateP1 .6s forwards .6s cubic-bezier(0.39, 0.58, 0.57, 1);
    margin: 25px 20px 15px 2px;
}
.product.p-2::before{
    animation: animateP2 .6s forwards .6s cubic-bezier(0.39, 0.58, 0.57, 1);
    margin: 25px 0 25px 15px;
}
.product.p-1, .product.p-2{
    z-index: 1;
}
.product.p-1 {
    grid-column: 1 / 8;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 70px 60px 40px;
}
.product.p-2 {
    position: relative;
    grid-row: 4 / 8;
    display: flex;
    flex-direction: row-reverse;
    grid-column: 1 / 8;
    align-items: center;
    margin: 30px 40px 20px 70px;
}
.product img {
    height: 100%;
    z-index: var(--layer-4);
    filter: grayscale(.8);
}
.img-1{
    box-shadow: 10px 0 40px rgb(0 0 0 / 50%);
}
.img-2{
    box-shadow: -10px 0 40px rgb(0 0 0 / 50%);
}
.product-exp-wrapper {
    height: 85%;
    background: white;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 50%);
}
.product-exp {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    text-align: center;
}
.exp-sm, .exp-recipe{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size:  14px;
    
}
.exp-name-1 {
    padding: 15px 0;
}
.exp-name-2 {
    padding: 22.5px 0;
}
.exp-name{
    letter-spacing: 5px;
    font-family: "rosewell", sans-serif;
    text-transform: uppercase;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 26px
}
main{
    margin-top: 50px;
}
.main-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main-top h1{
    font-family: "rosewell", sans-serif;
    margin-bottom: 25px;
    padding: 15px 35px;
    font-weight: normal;
    font-size: 28px;
    text-align: center
}

.main-bottom {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    padding:  0 50px;
}
.main-bottom-wrapper {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: repeat(6, calc( (100vh - 90px) / 6));
}
.main-bottom-wrapper h1, 
.main-bottom-wrapper h2{
    font-family: "rosewell", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 26px;
}
.main-bottom-wrapper p{
    font-family: "Rajdhani", sans-serif;
}
.main-bottom-wrapper img{
    width: 100%;
}
.text-1.center-center,
.text-2.top-left,
.top, .down
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-1.center-center {
    background: #090001;
    grid-column: 3 / 5;
    grid-row: 1 / 7;
}

.center-center h1 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 65px;
    text-transform: inherit;
}
.text-1.center-center h1:nth-child(2) {
    font-size: 45px;
    margin-bottom: 40px;
}
.text-1.center-center h1:nth-child(2) span{
    color: wheat;
    font-family: "rosewell", sans-serif;
}
.center-center h2 {
    margin-bottom: 30px;
}
.text-1.center-center h1, 
.text-1.center-center h2,
.text-1.center-center p
{
    color: #766e6b;
}

.text-2.top-left {
    background: #f3eae1;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.text-2.top-left h1, 
.text-2.top-left p {
    color: #a59c93;
}
.text-3.center-right {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
}
.text-3.center-right .down{
    background: #726962;
    height: 100%
}
.down p {
    width: 85%;
    color: #d7d7d7;
}

.image-1.bottom-left {
    grid-column: 1 / 3;
    grid-row: 4 / 7;
}
.image-2.top-right {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}
.image-3.bottom-right {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
}
.image-first, 
.image-second, 
.image-third{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: center;
    filter: grayscale(1);
}
.image-first{
    background-image: url(assets/image/16.jpg);
}
.image-second{
    background-image: url(assets/image/6.jpg);
    background-position-y: -25px;    
}
.image-third{
    background-image: url(assets/image/13.jpg);
}

/* Bagina Footer */
footer{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(30, 30, 62);
    padding: 50px;
}
.footer-left {
    width: 100%;
    height: 125px;
}
.footer-wrapper .footer-left .footer-logo{
    width: 75%;
    height: 75%;
    font-family: "Sanchez", sans-serif;
    display: flex;
    align-items: center;
}
.footer-logo h1{
    color: white;
    margin-left: 25px;
    font-size: 24px;
    font-weight: 100;
}
.footer-logo img {
    width: 100px;
}
.footer-link{
    height: 100%;
}
.footer-link ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.footer-links, 
.copyright p,
.copyright span
{
    color: white;
    font-weight: 200;
}
.copyright{
    display: flex;
    justify-content: center;
    background-color: #13132B;
    padding: 40px;
}
@media (max-width: 1160px){
    .product-exp{
        width: 100%;
    }
    .text-1.center-center h1,
    .text-1.center-center h2,
    .text-1.center-center p
    {
        width: 70%;
    }
}
@media (max-width:1050px){
    header{
        grid-template-rows: auto 1fr;
        grid-template-columns: none;
        row-gap: 75px;
    }
    .svg-header::before{
        bottom: -100px;
        height: 110px;
    }
    .svg-header{
        top: 100px;
    }
    .header-right {
        padding-bottom: 50px;
    }
    .product.p-1,
    .product.p-2 {
        width: 80%;
        justify-self: center;
        margin: 0 0 0 0;
    }
    .product.p-1{
        margin-bottom: 50px;
    }
    .product.p-2 {
        margin-top: 50px;
    }
    .product-exp-wrapper{
        width: 100%;
    }
    .product-exp{
        width: 75%;
    }
    .exp-sm {
        margin-top: 20px;
    }
    .exp-recipe{
        margin-bottom: 20px;
    }
    .exp-name-1,
    .exp-name-2{
        font-size: 20px;
    }
    .exp-name-1{
        padding: 25px 0;
    }
    .exp-name-2 {
        padding: 27.5px 0;
    }
    /* Main */
    .text-1.center-center h1 {
        font-size: 50px;
    }
    .text-1.center-center h1:nth-child(2){
        font-size: 36px;
    }
    .main-bottom-wrapper h1, .main-bottom-wrapper h2{
        font-size: 20px;
    }
    .text-1.center-center p {
        font-size: 14px;
    }
    .text-2.top-left p {
        font-size: 14px;
    }
    .text-3.center-right p{
        font-size: 14px;
    }
}
@media (max-width: 800px){
    /* Create Hamburger Menu */
    .hamburger-menu input[type="checkbox"]{
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        top: 0;
        left: 0;
    }
    div.nav-links, .hamburger-menu input[type="checkbox"]{
        position: absolute;
    }
    .ham-span.s1,
    .ham-span.s2,
    .ham-span.s3,
    .ham-wrapper{
        transition: all .3s;
    }
    .ham-span.s1, .ham-span.s3{
        transform: rotate(0deg) translateY(0);
        left: 0;
    }
    .ham-span.s2{
        transform: scale(1);
    }
    .ham-span.s3{
        transform-origin:0 50%;
    }
    .ham-span.s1{
        transform-origin:50% 50%;
    }
    .ham-span.s1{
        transform-origin:0 50%;
    }
    .s1.s1-active, 
    .s3.s3-active{
        position: relative;
        left: 3.5px;
    }
    .s1.s1-active{
        transform: rotate(45deg) translateY(-3px);
    }
    .s2.s2-active{
        transform: scale(0);
    }
    .s3.s3-active{
        transform: rotate(-45deg) translateY(3px);
    }
    .hamburger-menu{
        display: block;
        height: 40px;
        width: 40px;
        justify-self: flex-end;
        position: relative;
        margin: 15.25px 0;
        z-index: 9;
    }
    .ham-wrapper{
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        height: 100%;
        padding: 10px 5px;
    }
    .colored{
        background-color: #00b2ff;
    }
    .ham-wrapper span{
        height: 3px;
        width: 100%;
        background-color: white;
    }
    div.nav-links {
        width: 100vw;
        height: 100vh;
        background: rgb(0, 153, 255);
        justify-content: center;
        transition: .6s transform .5s;
        transform: scaleY(0);
        transform-origin: center bottom;
    }
    .nav-links.animate{
        transform: scaleY(1);
        transform-origin: center top;
    }
    .nav-links ul {
        justify-content: space-evenly;
    }
}
@media (max-width: 750px){
    iframe#video{
        width: 360px;
    }
    header{
        row-gap: 40px;
        padding: 100px 25px 25px 25px;
    }
    nav{
        padding: 0 45px;
    }
    .product.p-1, .product.p-2{
        width: 90%;
    }
    .main-bottom{
        padding: 0;
    }
    .main-bottom-wrapper{
        grid-template-rows: repeat(6, calc( (1200px - 90px) / 6));
    }
    .text-1.center-center,
    .text-2.top-left,
    .text-3.center-right,
    .image-1.bottom-left,
    .image-2.top-right,
    .image-3.bottom-right{
        grid-column: 1 / 7;
    }
    .text-1.center-center{
        grid-row: 1 / 2;
    }
    .text-1.center-center h1, 
    .text-1.center-center h2, 
    .text-1.center-center p{
        width: 90%;
    }
    .text-1.center-center h1{
        font-size: 46px;
        margin-bottom: 0;
    }
    .text-1.center-center h1:nth-child(2){
        font-size: 30px;
        margin-bottom: 20px;
    }
    .center-center h2{
        display: none;
    }
    .image-1.bottom-left{
        grid-row: 2 / 3;
    }
    .text-2.top-left{
        grid-row: 3 / 4;
    }
    .image-2.top-right{
        grid-row: 4 / 5;
    }
    .text-3.center-right{
        grid-row: 5 / 6;
    }
    .image-3.bottom-right{
        grid-row: 6 / 7;
    }
    .image-first, .image-2.top-right.image-second{
        background-position-y: center;
    }
    .footer-wrapper{
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
    .footer-logo{
        width: 100%;
        justify-content: center;
    }
    .footer-link ul{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}
@media (max-width:520px){
    .product.p-1::before, 
    .product.p-2::before{
        transform: translate(0) !important;
        margin: 0;
    }
    .product.p-1::before{
        top: 15px;
        left: 15px;
        bottom: -10px;
        right: 15px;
    }
    .product.p-2::before{
        top: 75px;
        left: 15px;
        bottom: -10px;
        right: 15px;
    }
    .header-right-wrapper{
        grid-template-rows: repeat(9, calc(500px / 7));
        padding-bottom: 100px;
    }
    .product.p-1, .product.p-2 {
        width: 100%;
        flex-direction: column;
        height: 100%;
    }
    .product img{
        transform: rotate(90deg);
        box-shadow: 0px 0 40px rgb(0 0 0 / 50%);
    }
    .product-exp-wrapper {
        margin-top: -55px;
    }
    .product.p-2{
        margin-top: 75px;
        grid-row: 5 / 9;
    }
}